@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

</script>

<h2>Multiple load file</h2>

<div>
    <input type="file" name="file" id="file-field" multiple="true" />
</div>
<div id="img-container">
    <ul id="img-list"></ul>
</div>