@model string[]

@{
    ViewBag.Title = "Index";
}

 

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    <script src="/scripts/file.uploader.js" type="text/javascript"></script>
}

<h2>Multiple load file</h2>

<div>
    <div style ="background-color: red; overflow:hidden; width: 132px; height: 32px; position: relative; left: 0px; top: 0px;">
        <input 
            style ="opacity:0; font-size: 32px; height: 32px; position:absolute; right: 0px; left: 0px;" 
            tabindex ="0" type="file" name="file" id="file-field" multiple="true" title ="Выберите фотографии" 
            data-bind="event:{change:filesChanged}" />
    </div>
</div>

<ul>
    <!-- ko foreach: savedFiles -->
    <li>
        <div data-bind="text:name"></div>
        <img data-bind="imgScr: $data" />
        <div>0%</div>
    </li>
    <!-- /ko -->
    
    @foreach (var fileName in Model)
    {
    <li>
        <div>@fileName</div>
        <img src="/home/icon/@(fileName)" alt ="@fileName" />
        <div>100%</div>
    </li>
    }

</ul>

